body {
  margin: 0;
}

.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px 25px 30px;
}

.screen-header__title {
  font-family: georgia, serif;
  font-weight: bold;
  font-size: 38px;
}

.screen-header__menu span {
  margin-left: 35px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

.screen-header__menu__icon {
  margin-left: 40px;
}

.screen-banner {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

.nav {
  padding: 50px 450px 20px 450px;
  color: rgba(0, 0, 0, 0.4);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

button {
  background: none;
  border: 0;
}

a {
  padding: 10px 20px;
  border-radius: 15px;
}

a:hover {
  color: white;
  background-color: #c4b6a7;
}

.screen-pic {
  text-align: center;
}
